<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_login.username }}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pyq/index.css' %}" />
    <script type="text/javascript" src="{% static 'account/jquery-3.3.1.js' %}"></script>

    <script>
        $(document).ready(function() {
            $(".edit_button").click(function(){
                var tmp = '#' + $(this).attr('name');
                $(tmp+'0').css({'display': 'none'});
                $(tmp).css({'display': 'block'});
            });
        });
    </script>
</head>

<body class="index">

<h1>{{ user_login.username }}</h1>
<form action="{% url 'account:logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Log Out" />
</form>
<br>

<form action="{% url 'pyq:post_action' pages user_login.id %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <textarea style="" name="context" placeholder="What do you want to post?" rows="3" cols='120'></textarea>
        <input type="hidden" name="type_change" value="add"/>
    </div>
    <div>
        <input type="submit" value="submit" style="float: right"/><br>
    </div>
</form>


<hr>


<div>
    <div id="post_list_item">
        {% for post in posts %}
            <div class="fieldset">
                {% if post.user_now == user_login %}
                    <div class="self_post">
                        <p class="edit_content" id="post{{ post.pid }}0">
                            <content>{{ post.context }}&nbsp &nbsp &nbsp</content><br>
                            created: {{ post.created_time }}&nbsp &nbsp &nbsp
                            {% if post.edit_time != post.created_time %}
                                edited
                            {% endif %}
                        </p>
                        <div class="edit_add_content" id="post{{ post.pid }}">
                            <form action="{% url 'pyq:post_action' pages post.pid %}" method="post">
                            {% csrf_token %}
                            <div>
                                <label><textarea name="context" placeholder="what do you want to post?">{{ post.context }}</textarea></label>
                                <input type="hidden" name="type_change" value="edit_add"/>
                                <input type="submit" value="submit" />
                            </div>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="not_self_post">
                    <h1><span>{{ post.user_now }}</span></h1>
                    <p><content>&nbsp &nbsp &nbsp{{ post.context }}</content><br>
                        created: {{ post.created_time }}&nbsp &nbsp &nbsp
                        {% if post.edit_time != post.created_time %}
                            edited
                        {% endif %}
                    </p>
                    </div>
                {% endif %}
                    <table align="center">
                    <tr>
                    <td>
                    {% if post.user_now == user_login %}
                        <button class="edit_button" name="post{{ post.pid }}">edit</button>
                    {% endif %}
                    </td>
                    <td>
                    {% if post.user_now == user_login or user_login.permission %}
                        <form action="{% url 'pyq:post_action' pages post.pid %}" method="post">
                            {% csrf_token %}
                            <button onclick="return DeleteConfirmFunc()">Delete</button>
                            <script>
                                function DeleteConfirmFunc()
                                {
                                    return confirm("Are u sure to DELETE?");
                                }
                            </script>
                            <input type="hidden" name="type_change" value="delete"/>
                        </form>
                    {% endif %}
                    </td>
                    </tr>
                    </table>
            </div>

        {% endfor %}
    </div>
</div>

<div>
    {% if more_pages %}
        <form action="{% url 'pyq:post_action' pages user_login.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="load more">
            <input type="hidden" name="type_change" value="load_more">
        </form>
    {% else %}
        <p>Already the last post</p>
    {% endif %}
</div>

</body>
</html>