<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_login.username }}</title>
</head>
<body>
<h1>{{ user_login.username }}</h1>

<form action="{% url 'pyq:post_add' user_login.id %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <textarea name="context" placeholder="What do you want to post?"></textarea>
    </div>
    <div class="form-group col-md-4">
        <input type="submit" value="submit"/>
    </div>
</form>

<div>
    <div>
        {% for post in posts %}
            <div>
            <h4>{{ post.user_now }}:{{ post.context }}</h4>
            <p>created:{{ post.created_time }} edited:{{ post.edit_time }}</p>
            <table>
            <tr>
            <td>
            {% if post.user_now == user_login %}
                <form action="{% url 'pyq:post_edit' user_login.id post.pid %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="edit" />
                </form>
            {% endif %}
            </td>
            <td>
            {% if post.user_now == user_login or user_login.permission %}
                <form action="{% url 'pyq:post_delete' user_login.id post.pid %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="delete" />
                </form>
            {% endif %}
            </td>
            </tr>
            </table>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>